.hg
.vs
WebsiteTemplateCore/obj/Release
WebsiteTemplateCore/obj
BuildHelper/bin
BuildHelper/obj
hg
ConsoleApplication1
ImplementationTest
packages
QBic.Core/bin
QBic.Core/obj
WebsiteTemplate/bin
WebsiteTemplate.Test/bin
WebsiteTemplate.Test/obj
WebsiteTemplate.Test/Data/appData.db
WebsiteTemplate.Test/Data/auditData.db
WebsiteTemplate.Test/Logs
WebsiteTemplate/obj
WebsiteTemplate/Temp
WebsiteTemplate.UnitTests/bin
WebsiteTemplate.UnitTests/obj
WebsiteTemplateCore/bin
BasicAuthentication/bin
BasicAuthentication/obj
BasicAuthentication.Core/bin
BasicAuthentication.Core/obj
BasicAuthentication.WebTest/obj
DocumentGenerator/obj
BasicAuthentication.WebTest/BasicAuthentication.WebTest.csproj.user
BasicAuthentication/BasicAuthentication.csproj.user
BasicAuthentication.WebTest/bin
DocumentGenerator/bin
BasicAuthentication.Core/BasicAuthentication.Core.csproj.user
DocumentGenerator/DocumentGenerator.csproj.user
QBic.Core/QBic.Core.csproj.user
WebsiteTemplate.Test/Data/appDataCore.db
QBic.Authentication/bin
QBic.Authentication/obj
QBic.FrontEnd/node_modules
QBic.FrontEnd/bin
QBic.FrontEnd/obj
QBic.FrontEnd/Properties/launchSettings.json
WebsiteTemplate.Test/Data
QBic.FrontEnd_New/.parcel-cache
QBic.FrontEnd_New/node_modules
QBic.FrontEnd_New/dist
