/*
    Style sheet for the login page/container.

    The login section is a div on the main page

*/

#loginContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #FFF;
    visibility: hidden;
}

#loginContainer .inputContainer {
    text-align: center;
    margin-top: 100px;
}

#loginContainer table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    margin: auto;
}

#loginContainer input {
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B5 #C2C2C0;
    border-radius: 3px;
    padding: 3px;
}

#loginContainer button {
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    background-color: #929090;
    font-weight: bold;
}

#loginContainer button:hover {
    background-color: #b8b8b5;
}

#loginErrorMessage {
    color:red;
}