#menuContainer {
    /*background-color: #4C4C4C;*/
    /*color: #00FFFF;*/
    display:block;
}

#subMenuContainer {
    display: block;
}

#menuContent button {
    text-align:center;
    /*padding:5px;*/
}

#menuDiv button {
    margin-right:5px;
}

#menuDiv button:disabled {
    background-color:#BCBCB6;
}

#menuDiv button:disabled:hover {
    background-color:#BCBCB6;
}

#menuDiv button:hover {
    background-color:#EBEBE4; 
}

#userDetail button {
    margin-left: 10px;
    text-align:center;
    /*padding:5px;*/
}

#subMenuContainer {
    margin-top:10px;
}

#subMenuContainer button {
    margin-right:5px;
}

#subMenuContainer button:disabled {
    background-color:#BCBCB6;
}

#subMenuContainer button:disabled:hover {
    background-color:#BCBCB6;
}

#subMenuContainer button:hover {
    background-color:#EBEBE4; 
}