<connectionStrings>
  <add name="MainDataStore" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=localhost;Initial Catalog=WebsiteTemplate;MultipleActiveResultSets=true" />
  <!--<add name="MainDataStore" connectionString="Data Source=##CurrentDirectory##\Data\appData.db;Version=3;Journal Mode=Off;" />-->
  <!--<add name="MainDataStore" connectionString="EedQhftZX6p0M5NiNkv7JjoH6Z8NGzcc7oeo6Roz8qrylbHNBdR86WWCgHwLauCi746ZhUqiDNtLsMk/I0MFSAm40F4VnSD0llYrmA77gzcTeMy99I5y33uMRqw7tbCWPT9AHk7h2vONjWnBGB4Pg8P21+2qdDq/WcAy53jUNQJCdwVrUxGEiV9ceITuOcaWDlyt1whZYtrrIE2zHyAagdl3ZsQqOUHa3ow8NNN6wpOVVCxvXgCPMeo8Xv85u4zC" />-->
  
  <!--<add name="MainDataStore" connectionString="DjZiId8UsJj2+Ncuwo4d8EbjABsLsP5NZ8ZwtrAtVavMKx9GQVDhnDXMIHu7FmlNQhZdMDVFetaYsGvr+IPpDdUbSTSsqvGXsSQyYqxDPrwSbRmwTBxOENeVuyD6nI9uHstzMj07iNkKnrrDPB8SKZM0ALw4DBgKPdZykMAShAhU//4gD5XYW/eyQvrkSbKl0l5WLVwUA2m3WaF1xgTid/6jQgoGdbLfO3/G8AvVD7dwMpE8S4YWUBtgRuKAK+HK"/>-->
</connectionStrings>