.koHidden {
        display: none!important;  /* http://stackoverflow.com/questions/12775766/knockout-js-stop-divs-binded-to-visible-from-flashing-on-screen */
    }

.w3-modal {
    padding-bottom: 20px;
    padding-top: 20px !important;
    overflow:hidden;
}

/*.w3-modal-content {
    max-height:100%;
    overflow:auto;
}*/