#inputContent {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:none;
    background-color:beige;
}

#dlgInput {
    position: fixed;
    top: 40%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
