#tableContainer {
    width:100%;
}

#viewsTitle {
    width:100%;
    font-weight:bold;
    margin-top:10px;
    font-size:200%;
}

.viewTable {
    border: solid 1px black;
    margin-top:25px;
    border-radius:5px;
    border-collapse: separate;
    border-spacing: 2px;
}

.viewTable th {
	border-top: none;
}

.viewTable td, th {
    border-left: 1px solid black;
    border-top: 1px solid black;
    text-align: left;   
    padding: 10px; 
}

.viewTable tr:first-child td {
    border-left: none;
    border-top: none;
    background-color:blue;
}

.viewTable td:first-child {
    border-left: none;
}

.viewTable th:first-child {
    border-left: none;
}

#viewsMenu {
    display:block;
    margin-top:10px;
}

#viewsFooter {
    display:block;
    margin-top:20px;
    font-weight:bold;
    font-size:150%;
}