<connectionStrings>
  <!--<add name="MainDataStore" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=localhost;Initial Catalog=WebsiteTemplateTest;MultipleActiveResultSets=true" />-->
  <add name="MainDataStore" connectionString="Data Source=##CurrentDirectory##\Data\appData.db;Version=3;Journal Mode=Off;Connection Timeout=12000" />
  <add name="AuditDataStore" connectionString="Data Source=##CurrentDirectory##\Data\appData.db;Version=3;Journal Mode=Off;Connection Timeout=12000" />
  
  <!--<add name="MainDataStore" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=WebsiteTemplateTest;Uid=root;Pwd=password;" />-->
</connectionStrings>